mixin input-email
    form.submit-email
        input(type="email", name="sub", placeholder='Email', required)
        input(type="submit", value='arrow_forward')

mixin arrow-button(text, type="button")
    button.payment(type=`${type}`)
        span #{text}

mixin dropdown(guests)
    if (guests)
        .guest-dropdown 
            button.dark75(type="button") Сколько гостей
            .gdrop-content.dark100
                p Взрослые
                    span
                        button.minus(disabled) -
                        i 
                        button.plus +
                p Дети
                    span
                        button.minus(disabled) -
                        i 
                        button.plus +                        
                p Младенцы
                    span
                        button.minus(disabled) -
                        i 
                        button.plus +
                p
                    span.click-span-grey очистить
                    span.click-span применить
    else
        .dropdown
                button.dark75 Удобства
                .drop-content.dark100
                    p Спальни
                        span
                            button.minus(disabled) -
                            i 
                            button.plus +
                    p Кровати
                        span
                            button.minus(disabled) -
                            i 
                            button.plus +                        
                    p Ванные комнаты
                        span
                            button.minus(disabled) -
                            i 
                            button.plus +

mixin checkbox
    .checkbox
        label.dark50.checkbox-label Можно курить
            input(type="checkbox")
            span.checkmark
        label.dark50.checkbox-label Можно с питомцами
            input(type="checkbox")
            span.checkmark
        label.dark50.checkbox-label Можно пригласить гостей (до 10 человек)
            input(type="checkbox")
            span.checkmark

mixin date-dropdown(filter=false)
    if (filter)
        input.filter-date-picker
    else
        input.date-picker

mixin exp-checkbox(title)
    .exp-checkbox
        h3.dark100 #{title} <i class='material-icons'>expand_more</i>
        .exp-content
            each item in ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"]
                label.dark50.checkbox-label #{item}
                    input(type="checkbox")
                    span.checkmark

mixin rich-checkbox(title)
    .rich-checkbox
        h3.dark100= title
        label.dark50.checkbox-label Широкий коридор
            input(type="checkbox")
            span.checkmark
            p Ширина коридоров в номере не менее 91 см.
        label.dark50.checkbox-label Помощник для инвалидов
            input(type="checkbox")
            span.checkmark
            p На 1 этаже вас встретит специалист и проводит до номера.

mixin list(title)
    .bullet-list
        h3.dark100= title
        li Нельзя с питомцами
        li Без вечеринок и мероприятий
        li Время прибытия — после 13:00, а выезд до 12:00

mixin button(color, text)
    button(class=`click-${color}`)
        span= text

mixin gender-pick
    .radio
        label.dark50.checkbox-label Мужчина
            input(type="radio" name='gender' checked)
            span.checkmark
        label.dark50.checkbox-label Женщина
            input(type="radio" name='gender')
            span.checkmark

mixin toggle
    .toggle
        label.switch
            input(type="checkbox" name='offers')
            span.togglemark
        span.dark75 Получать спецпредложения
